streamlit==1.38.0
fastapi==0.115.0
uvicorn==0.30.6
requests==2.32.3
beautifulsoup4==4.12.3
pandas==2.2.3
pydantic==2.9.2
langchain==0.2.16
langchain-community==0.2.17
langchain-core==0.2.41
langchain-google-genai==1.0.8
chromadb==0.5.5
langchain-chroma==0.1.4